# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
.eggs/
*.egg-info/
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/

# Editor directories and files
.vscode/
.idea/
*.swp
